<div class="title-container">
    <div class="title-logo">
        <img src="img/logo.svg" alt="">
        <span>Save a video</span>
    </div>
</div>
<div class="create-container">
    <div class="create-card">
        <div class="create-column">
            <img id="created-image" src="" />
        </div>
        <div class="divider">
        </div>
        <div class="create-column">
            <h2 class="form-title">Create</h2>

            <form class="input-form" action="/videos" method="post" >
                <label class="form-label" for="title">Title</label>
                <input id="title-input" name="title" maxlength="50" value="{{newVideo.title}}"/>
                {{#with newVideo.errors.title as |error|}}
                    <span class="error">{{error.message}}</span>
                {{/with}}

                <label class="form-label" for="description">Description</label>
                <textarea id="description-input" name="description">{{newVideo.description}}</textarea>
                {{#with newVideo.errors.description as |error|}}
                    <span class="error">{{error.message}}</span>
                {{/with}}

                <label class="form-label" for="videoUrl">Video Url</label>
                <input id="videoUrl-input" name="videoUrl" oninput="handleChange" value="{{newVideo.videoUrl}}"/>
                {{#with newVideo.errors.videoUrl as |error|}}
                    <span class="error">{{error.message}}</span>
                {{/with}}

                <div class="form-navigation">
                    <a href="/">
                        <img class="back-arrow" src="/img/back.svg" alt="back">
                    </a>
                    <button class="button submit-button" id="submit-button" type="submit">
                        <p>Create new</p>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var img = document.getElementById('created-video');
    function handleChange(e) {
        var path = e.target.value.match(/^(https*:\/\/)/i) ? '' : 'http://';
        img.src = path + e.target.value;
    }
    document.getElementById('videoUrl-input').oninput = handleChange;
</script>